body {
    margin: 0;
    padding: 0;
}

#general {
    background: slategray;
    display: flex;
    flex-direction: column;
    border: solid;
    margin-top: 10%;
    margin-left: 10%;
    margin-right: 10%;
    padding-bottom:5%;
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 3%;
    text-align: center;
    color: whitesmoke;
}

h2 {
    color: skyblue;
}

label {
    font-size: 20px;
}

input {
    height: 20px;
}




